<div role="tabpanel">

  <!-- Nav tabs -->
  <ul id="tabs" class="nav nav-tabs">
    <li class="active">
      <a href="#cloud" data-toggle="tab">ChatterCloud</a>
    </li>
    <li>
      <a href="#chart" data-toggle="tab">Smart Chart</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="cloud">
      <div class="col-md-7">
        <div class="word-cloud-container">
          {{word-cloud data=themes themesController=controller}}
        </div>
      </div>
      <div class="col-md-5">
        <div class="context-container">
          {{theme-context theme=theme}}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="chart">
       <div class="smart-chart-container">
        <div id="chart">
          <svg></svg>
        </div>
          {{smart-chart data=themes}}
        </div>
    </div>   
  </div>
</div>